<h2>New Project</h2>

<%= form_with(model: @project, local: true) do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name %>
  </p>

  <%= form.submit %>
<% end %>
